<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Guidance for government digital publishing and services: Content and publishing - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7da20ae18cf7127910ec59331f75ffed6f00cff1969dc9366894e01ffa56a2da.css" crossorigin="anonymous" integrity="sha256-faIK4Yz3EnkQ7FkzH3X/7W8Az/GWnck2aJTgH/pWoto=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-91e47d8adde0b3b628a6ed931338a16655c4a79c5bba5cdb7f6389f1f077b63c.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-04243275a77f0c908ff266e33890a959888bad90ec0be5857456866ab86e059b.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-fac25ec78515a5484990fb50fada4cd02304969d4e279ba91562a8ff91d4d8e8.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-17ae04fa41ad116c2d3a329800a3160d98adf170d561703b3836dad57f2b994d.css" crossorigin="anonymous" integrity="sha256-F64E+kGtEWwtOjKYAKMWDZit8XDVYXA7ODba1X8rmU0=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-efae9edd3b3443077bbf8583d46098e4e4ab635730277e64fa531665dbff6912.css">
<!--<![endif]--><link rel="alternate" type="application/json" href="/api/content/topic/government-digital-guidance/content-publishing">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="OskadvBORc9bAKfMr1bR1/T2/tUUB6EUjA9deo3YA5wOnDcp5CxmI3yN5kOWtjhW1WuQMAsOYPg3Jz1b1Yz/Ig==">
<meta name="description" content="List of information about Content and publishing.">
<meta name="govuk:navigation-page-type" content="Second Level Topic">
<meta name="govuk:section" content="guidance for government digital publishing and services">
<meta name="govuk:format" content="topic">
<meta name="govuk:schema-name" content="topic">
<meta name="govuk:user-journey-stage" content="finding">
<meta name="govuk:navigation-document-type" content="other">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie6-43ece98919085f50bc3b55d8674beb2aa99c11ce4e06db7a39cfc208320acd79.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie7-95b5519a98a4f8ba9ee50669a5408a9f089549ac7a9385782a7972ab94590db8.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie8-7d80d36ac01c5cfecc6ab18af7eab5187631a5f13e31507270e6267ff2bb7433.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="collections">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div class="wrapper" id="wrapper">

<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"2","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/government-digital-guidance" data-track-options='{"dimension28":"2","dimension29":"Guidance for government digital publishing and services"}' class="" aria-current="false" href="/topic/government-digital-guidance">Guidance for government digital publishing and services</a>
    </li>
  </ol>
</div>



    <main id="content" role="main" class="content topics-page">




<header class="page-header group">
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="pub-c-title

  pub-c-title--bottom-margin">
    <p class="pub-c-title__context">
      <a class="pub-c-title__context-link" href="/topic/government-digital-guidance">Guidance for government digital publishing and services</a>
    </p>
  <h1 class="pub-c-title__text ">
    Content and publishing
  </h1>
</div>


        <div class="govuk-metadata" data-module="toggle">
  <dl data-module="track-click">
      <dt>From:</dt>
      <dd>
          <a href="/government/organisations/government-digital-service">Government Digital Service</a> and <a href="/government/organisations/cabinet-office">Cabinet Office</a>

      </dd>
  </dl>
</div>

    </div>

    <div class="column-one-third add-title-margin">
      <div class="latest-subscribe">
        <ul>
          <li class="email primary">
            <a href="/topic/government-digital-guidance/content-publishing/email-signup">
            Subscribe to email alerts
</a>          </li>
            <li><a href="/topic/government-digital-guidance/content-publishing/latest">See latest changes to this content</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="browse-container full-width" data-module="track-click">

    <nav class="grid-row" aria-labelledby="guidance-on-publishing">
      <div class="column-third">
        <h1 id="guidance-on-publishing">Guidance on publishing</h1>
      </div>
      <div class="column-two-thirds">
          <ol class="app-c-topic-list">
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.1" data-track-options='{"dimension28":"5","dimension29":"Content management principles"}' data-track-label="/guidance/content-management-principles" class="app-c-topic-list__link" href="/content-principles">Content management principles</a>
      </li>
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.1" data-track-options='{"dimension28":"5","dimension29":"Content design: planning, writing and managing content"}' data-track-label="/guidance/content-design" class="app-c-topic-list__link" href="https://www.gov.uk/guidance/content-design">Content design: planning, writing and managing content</a>
      </li>
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.2" data-track-options='{"dimension28":"5","dimension29":"GOV.UK proposition"}' data-track-label="/government/publications/govuk-proposition" class="app-c-topic-list__link" href="https://www.gov.uk/government/publications/govuk-proposition">GOV.UK proposition</a>
      </li>
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.3" data-track-options='{"dimension28":"5","dimension29":"How to publish on GOV.UK"}' data-track-label="/guidance/how-to-publish-on-gov-uk" class="app-c-topic-list__link" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk">How to publish on GOV.UK</a>
      </li>
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.4" data-track-options='{"dimension28":"5","dimension29":"Style guide"}' data-track-label="/guidance/style-guide" class="app-c-topic-list__link" href="https://www.gov.uk/guidance/style-guide">Style guide</a>
      </li>
      <li class="app-c-topic-list__item">
        <a data-track-category="navSubtopicContentItemLinkClicked" data-track-action="1.5" data-track-options='{"dimension28":"5","dimension29":"Support for government publishers"}' data-track-label="/guidance/contact-the-government-digital-service" class="app-c-topic-list__link" href="https://www.gov.uk/guidance/contact-the-government-digital-service">Support for government publishers</a>
      </li>
  </ol>

      </div>
    </nav>

</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/topic/government-digital-guidance/content-publishing">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-8ebb2100d4f59fb7e4eedb9c61672156ca92be731dc4a1ea6e9a7a218904e534.js" crossorigin="anonymous" integrity="sha256-jrshANT1n7fk7tucYWchVsqSvnMdxKHqbpp6IYkE5TQ="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-8bfddec9d8aa8530dbad519c47440577d01ae78b506a9f2025a01f4f9ee807c4.js" crossorigin="anonymous" integrity="sha256-i/3eydiqhTDbrVGcR0QFd9Aa54tQap8gJaAfT57oB8Q="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/collections/application-80e1c12f131d1537f4dbad00ea88215ac8f07dcf870abfaaf368aaba138fafba.js"></script>
</body>
</html>
