<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Government design principles - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-d31395a9030b68584b0a191af4b68cb7bef1bb6024898c719fb61241f9e18d0e.js" crossorigin="anonymous" integrity="sha256-0xOVqQMLaFhLChka9LaMt77xu2AkiYxxn7YSQfnhjQ4="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-6432a80f7829cad510b2ebaae98fcc9ebe2e99561fff5a97ecc9c7d0cff21537.css" crossorigin="anonymous" integrity="sha256-ZDKoD3gpytUQsuuq6Y/Mnr4umVYf/1qX7MnH0M/yFTc=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-dc8819787f616e63b05de96300a178b00a9aae74630ac4188329db03bf3d6b1e.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-67473e60ee01211611f919664a9eff21f3a2307db0df87c0b285887010237109.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-8cd16a38daba39516bfe4c4100c3143667ec6bbdee6c4404d320e596e6fee58e.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-774f7d274d27182a629690248f3d33de4aab74e12244f02483d1343c5f7f7265.css" crossorigin="anonymous" integrity="sha256-d099J00nGCpilpAkjz0z3kqrdOEiRPAkg9E0PF9/cmU=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-85c0a705373a4a6395bb5e9e03050db324a9a25e8f0953fa75cb3c09a453ab4e.css" crossorigin="anonymous" integrity="sha256-hcCnBTc6SmOVu16eAwUNsySpol6PCVP6dcs8CaRTq04=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="WIY6NamgzVjbkAgwf4Fl72mP0Lm7PRN+346eIlMfkE7NouLzTZQbOH8KdGPF8sz/KWXUPN0q+ASAeKf8ikSFAg==">
<meta name="govuk:format" content="detailed_guide">
<meta name="govuk:schema-name" content="detailed_guide">
<meta name="govuk:analytics:organisations" content="&lt;OT1056&gt;">
<meta name="govuk:political-status" content="non-political">
<meta name="govuk:publishing-government" content="2010-to-2015-conservative-and-liberal-democrat-coalition-government">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="govuk:content-has-history" content="true">
<meta name="description" content="The UK government's design principles and examples of how they've been used.">
<meta name="govuk:content-id" content="84f02810-f04a-4454-b09e-b585af0489a3">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-e8c662943d883e900a6b0589c4e7f908ecc099a7faf9e85d9a4d77c16b1cca28.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-e8c662943d883e900a6b0589c4e7f908ecc099a7faf9e85d9a4d77c16b1cca28.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-445ba4d9c17f70fa731f93738370ba95db064bde30a6f7b194a8cdfe5daccf7d.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="" href="/government/organisations">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="/government/world">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="/government/how-government-works">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="/government/get-involved">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="/government/policies">
        Policies
      </a>
    </li>
    <li>
      <a class="" href="/government/publications">
        Publications
      </a>
    </li>
    <li>
      <a class="" href="/government/publications?publication_filter_option=consultations">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="/government/statistics">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="/government/announcements">
        Announcements
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
          
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"1","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="detailed-guide" lang="en">
      <div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title
  
  pub-c-title--bottom-margin">
    <p class="pub-c-title__context">
      Guidance
    </p>
  <h1 class="pub-c-title__text pub-c-title__text--long">
    Government design principles
  </h1>
</div>

  </div>
  <div class="column-third">
    
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl data-module="track-click">
      <dt>From:</dt>
      <dd>
          <a href="/government/organisations/government-digital-service">Government Digital Service</a>

      </dd>
      <dt>Published:</dt>
      <dd>3 April 2012</dd>
  </dl>
</div>

  </div>
</div>


  <p class="pub-c-lead-paragraph">
    The UK government's design principles and examples of how they've been used.
  </p>


<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-third">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#start-with-user-needs">
            1. Start with user needs
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#do-less">
            2. Do less
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#design-with-data">
            3. Design with data
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#do-the-hard-work-to-make-it-simple">
            4. Do the hard work to make it simple
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#iterate-then-iterate-again">
            5. Iterate. Then iterate again
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#this-is-for-everyone">
            6. This is for everyone
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#understand-context">
            7. Understand context
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#build-digital-services-not-websites">
            8. Build digital services, not websites
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#be-consistent-not-uniform">
            9. Be consistent, not uniform
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#make-things-open-it-makes-things-better">
            10. Make things open: it makes things better
</a>        </li>
    </ol>
  </nav>

    </div>
  <div class="column-two-thirds ">
    
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 id="start-with-user-needs">1. Start with user needs</h2>

<p>Service design starts with identifying user needs. If you don’t know what the user needs are, you won’t build the right thing. Do research, analyse data, talk to users. Don’t make assumptions. Have empathy for users, and remember that what they ask for isn’t always what they need.</p>

<ul>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/07/03/what-we-mean-when-we-say-service-transformation">What we mean when we say ‘service transformation’</a>, by Mike Bracken</li>
  <li>
<a rel="external" href="http://blog.mattedgar.com/2015/05/12/most-of-government-is-mostly-service-design-most-of-the-time-discuss">Most of government is mostly service design most of the time</a>, by Matt Edgar</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/09/03/vertical-campfires-our-user-research-walls">Vertical campfires: our user research walls</a>, by Kate Towsey</li>
</ul>

<h2 id="do-less">2. Do less</h2>
<p>Government should only do what only government can do. If we’ve found a way of doing something that works, we should make it reusable and shareable instead of reinventing the wheel every time. This means building platforms and registers others can build upon, providing resources (like APIs) that others can use, and linking to the work of others. We should concentrate on the irreducible core.</p>

<ul>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/10/15/building-digital-civic-infrastructure-from-the-ground-up">Building digital civic infrastructure from the ground up</a>, by Mike Bracken</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2012/10/26/what-weve-learnt-about-scaling-agile">What we’ve learned about scaling agile</a>, by Jamie Arnold</li>
</ul>

<h2 id="design-with-data">3. Design with data</h2>

<p>In most cases, we can learn from real world behaviour by looking at how existing services are used. Let data drive decision-making, not hunches or guesswork. Keep doing that after taking your service live, prototyping and testing with users then iterating in response. Analytics should be built-in, always on and easy to read. They’re an essential tool.</p>

<ul>
  <li><a href="https://www.gov.uk/performance">Performance data for government services</a></li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2013/06/18/retiring-our-icons">Retiring our icons</a>, by Guy Moorhouse</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/10/10/combining-user-research-and-analytics-to-improve-the-user-experience">Combining user research and analytics to improve the user experience</a>, by Lana Gibson and Charlotte Clancy</li>
</ul>

<h2 id="do-the-hard-work-to-make-it-simple">4. Do the hard work to make it simple</h2>

<p>Making something look simple is easy. Making something simple to use is much harder - especially when the underlying systems are complex - but that’s what we should be doing. Don’t take “It’s always been that way” for an answer. It’s usually more and harder work to make things simple, but it’s the right thing to do.</p>

<ul>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/07/28/doing-the-hard-work-to-make-things-simple">Doing the hard work to make things simple</a>, by Mike Bracken</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/06/20/i-fought-the-law-and-the-users-won-delivering-online-voter-registration">I fought the law and the users won</a>, by Pete Herlihy</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/07/03/what-we-mean-when-we-say-service-transformation">This is what we mean when we say ‘service transformation’</a>, by Mike Bracken</li>
</ul>

<h2 id="iterate-then-iterate-again">5. Iterate. Then iterate again</h2>

<p>The best way to build good services is to start small and iterate wildly. Release <a rel="external" href="https://en.wikipedia.org/wiki/Minimum_viable_product">minimum viable products</a> early, test them with actual users, move from <a rel="external" href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">alpha</a> to <a rel="external" href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Beta">beta</a> to live adding features, deleting things that don’t work and making refinements based on feedback. Iteration reduces risk. It makes big failures unlikely and turns small failures into lessons. If a prototype isn’t working, don’t be afraid to scrap it and start again.</p>

<ul>
  <li>
<a rel="external" href="http://makeitquotidian.co.uk/2015/06/16/discovering-discovery">Discovering discovery</a>, by Sarah Prag</li>
  <li>
<a rel="external" href="https://userresearch.blog.gov.uk/2014/09/17/6-case-studies-using-research-and-data-to-improve-a-live-service">6 case studies using research and data to improve a live service</a>, by Ben Holliday</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2015/02/05/exemplars-making-examples-of-themselves">Exemplars making examples of themselves</a>, by Mike Bracken</li>
</ul>

<h2 id="this-is-for-everyone">6. This is for everyone</h2>

<p>Accessible design is good design. Everything we build should be as inclusive, legible and readable as possible. If we have to sacrifice elegance - so be it. We’re building for needs, not audiences. We’re designing for the whole country, not just the ones who are used to using the web. The people who most need our services are often the people who find them hardest to use. Let’s think about those people from the start.</p>

<ul>
  <li>
<a rel="external" href="https://accessibility.blog.gov.uk/2016/05/16/what-we-mean-when-we-talk-about-accessibility-2/">What we mean when we talk about accessibility</a>, by Alistair Duggin</li>
  <li>
<a rel="external" href="https://accessibility.blog.gov.uk/2016/05/16/consider-the-range-of-people-that-will-use-your-product-or-service/">Consider the range of people that will use your product or service</a>, by Alistair Duggin</li>
  <li>
<a rel="external" href="https://accessibility.blog.gov.uk/2016/05/17/hope-inspiration-and-inclusion/">Hope, inspiration and inclusion</a>, by Steven Mark</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2012/10/01/building-for-inclusion/">Building for inclusion</a>, by Léonie Watson</li>
</ul>

<h2 id="understand-context">7. Understand context</h2>

<p>We’re not designing for a screen, we’re designing for people. We need to think hard about the context in which they’re using our services. Are they in a library? Are they on a phone? Are they only really familiar with Facebook? Have they never used the web before?</p>

<ul>
  <li>
<a rel="external" href="https://userresearch.blog.gov.uk/2015/02/13/how-we-recruited-people-with-lowno-digital-skills-on-carers-allowance/">How we recruited people with low/no digital skills on Carer’s Allowance</a>, by Simon Hurst</li>
  <li>
<a rel="external" href="https://userresearch.blog.gov.uk/2015/03/11/the-right-place-to-do-rural-research/">The right place to do rural research</a>, by Emily Ball</li>
</ul>

<h2 id="build-digital-services-not-websites">8. Build digital services, not websites</h2>

<p>A service is something that helps people to do something. Our job is to uncover user needs, and build the service that meets those needs. Of course much of that will be pages on the web, but we’re not here to build websites. The digital world has to connect to the real world, so we have to think about all aspects of a service, and make sure they add up to something that meets user needs.</p>

<ul>
  <li>
<a rel="external" href="https://speakerdeck.com/kitcollingwood/digital-leadership-presentation">Digital leadership</a>, by Kit Collingwood-Richardson</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/12/17/revealing-the-hidden-side-of-transformation/">Revealing the hidden side of transformation</a>, by Mike Bracken</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2015/03/27/not-the-hmrc-of-old/">Not the HMRC of old</a>, by Mike Bracken</li>
</ul>

<h2 id="be-consistent-not-uniform">9. Be consistent, not uniform</h2>

<p>We should use the same language and the same design patterns wherever possible. This helps people get familiar with our services, but when this isn’t possible we should make sure our approach is consistent.</p>

<p>This isn’t a straitjacket or a rule book. Every circumstance is different. When we find patterns that work we should share them, and talk about why we use them. But that shouldn’t stop us from improving or changing them in the future when we find better ways of doing things or the needs of users change.</p>

<ul>
  <li>
<a rel="external" href="https://paper.dropbox.com/doc/GOV.UK-Design-Patterns-hkou7bpzKya8Dadv24V1z">GOV.UK Design Patterns</a> on Dropbox Paper</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/07/18/whats-the-design-process-at-gds/">What’s the design process at GDS?</a>, by Ben Terrett</li>
</ul>

<h2 id="make-things-open-it-makes-things-better">10. Make things open: it makes things better</h2>

<p>We should share what we’re doing whenever we can. With colleagues, with users, with the world. Share code, share designs, share ideas, share intentions, share failures. The more eyes there are on a service the better it gets -
 howlers are spotted, better alternatives are pointed out, the bar is raised.</p>

<p>Much of what we’re doing is only possible because of open source code and the generosity of the web design community. We should pay that back.</p>

<ul>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2015/01/20/gds-usds/">GDS, USDS, and sharing expertise</a>, by Mike Bracken</li>
  <li>
<a rel="external" href="https://gds.blog.gov.uk/2014/08/22/how-sharing-helps-us-improve-digital-services/">How sharing helps us improve digital services</a>, by Mike Bracken</li>
</ul>
</div>
</div>

  </div>
  <div data-sticky-element class="govuk-sticky-element">
    <a class="app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

<div class="govuk-document-footer direction-ltr" data-module="track-click">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="history-information" id="history">
      <p>
        Published:
        <span class="published definition">3 April 2012</span>
      </p>
  </div>
  <div class="related-information">
      <p>From: <span class="from">
          <span class="definition">
            <a href="/government/organisations/government-digital-service">Government Digital Service</a>
          </span>
      </span></p>
  </div>
</div>



    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/guidance/government-design-principles">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-395e36e8b50840dbe9f754bd87c5098de66e33f81061d9452420dbdb9ee760f1.js" crossorigin="anonymous" integrity="sha256-OV426LUIQNvp91S9h8UJjeZuM/gQYdlFJCDb257nYPE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-f064d14bd8bdbd0247972b404350af141b2daef30ee6570edc003e15d5aea5e2.js" crossorigin="anonymous" integrity="sha256-8GTRS9i9vQJHlytAQ1CvFBstrvMO5lcO3AA+FdWupeI="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b4d2c42a58bec8f6d153a702ea9164489c281c29ef63f3631ebb87dfa3562d78.js" crossorigin="anonymous" integrity="sha256-tNLEKli+yPbRU6cC6pFkSJwoHCnvY/NjHruH36NWLXg="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-8dcc6f59d9e1c348825b8ee5bdb71efa2c6a07e13ad6eb00a50b7a9bef20adee.js" crossorigin="anonymous" integrity="sha256-jcxvWdnhw0iCW47lvbce+ixqB+E61usApQt6m+8gre4="></script>
</body>
</html>
