<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Digital Service Standard - Service Manual - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7da20ae18cf7127910ec59331f75ffed6f00cff1969dc9366894e01ffa56a2da.css" crossorigin="anonymous" integrity="sha256-faIK4Yz3EnkQ7FkzH3X/7W8Az/GWnck2aJTgH/pWoto=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-91e47d8adde0b3b628a6ed931338a16655c4a79c5bba5cdb7f6389f1f077b63c.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-04243275a77f0c908ff266e33890a959888bad90ec0be5857456866ab86e059b.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-fac25ec78515a5484990fb50fada4cd02304969d4e279ba91562a8ff91d4d8e8.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-17ae04fa41ad116c2d3a329800a3160d98adf170d561703b3836dad57f2b994d.css" crossorigin="anonymous" integrity="sha256-F64E+kGtEWwtOjKYAKMWDZit8XDVYXA7ODba1X8rmU0=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-cc3b595f7210b9c6a035acd8cc165ea4e836eac6e8224b29a800f98a948619ba.css">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/service-manual-frontend/print-00317139669cd7e57195fd12d279d73aba2c815c00decf15d7f2e4c74d30f79f.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="+ibFsRhI6hbftMLulUODka17MnZ/pn+rGaWKVpIdpLf/vmQT3vyCDIzgvKr7Y9j+MdWp0LiVglszeGD2jgWhbw==">
<meta name="govuk:format" content="service_manual_service_standard">
<meta name="govuk:schema-name" content="service_manual_service_standard">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="description" content="The Digital Service Standard is a set of 18 criteria to help government create and run good digital services.">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie6-a6a153e3db771ec9feeeab02b1fbc7c41d428a988a5c5590d81bb8701536d4bc.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie7-7bbcae88308d728e53c9aa38c9649e50c9cd08df4530748861649e442084e7f6.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie8-78a26ca363b55c3358e6f12b8f46aa67eee953709918cf15b48a77d1a21b16b0.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="service-manual-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
      <h1 class="header-title">Service Manual</h1>

            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  <input type="hidden" name="filter_manual" value="/service-manual">
</form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">
      <div class="full-page-width-wrapper">
        <div class="govuk-beta-label">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>
          This is new guidance. Complete our quick 5-question survey to <a target="_blank" rel="noopener noreferrer" href="https://www.surveymonkey.co.uk/r/servicemanualsurvey?c=/service-manual/service-standard">help us improve it</a>.


    </span>
  </p>
</div>

      </div>




<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/service-manual" data-track-options='{"dimension28":"2","dimension29":"Service manual"}' class="" aria-current="false" href="/service-manual">Service manual</a>
    </li>

    <li class="">
        Digital Service Standard
    </li>
  </ol>
</div>


<!-- Page title and contact -->
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <h1 class="page-header__title">Content Standard</h1>
      <p class="page-header__summary">
        The Content Standard is a set of 5 principles to help content teams create and manage good content.
      </p>
      <p class="page-header__intro">
        This is dummy text. New text needs to be created.
      </p>
    </div>
  </div>
</div>

<!-- Points -->
<div class="grid-row">

  <div class="column-two-thirds">

      <div class="service-standard-point" id="criterion-1">
        <h2 class="service-standard-point__title">
          <span class="service-standard-point__number">1.</span>
          Content must be needed
        </h2>

        <div class="service-standard-point__details">
          <p>All content must be designed to meet user needs before government needs. If there isn't a user need for your content, then you shouldn't publish it. User needs should be supported by evidence.</p>
          <p class="service-standard-point__link"><a href="point-1">Read more about meeting user needs</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-2">
        <h2 class="service-standard-point__title">
          <span class="service-standard-point__number">2.</span>
          Content must be effective
        </h2>

        <div class="service-standard-point__details">
          <p> Every piece of content has a job to do. Its purpose should be clear to the user from its title and description. It must be well structured and use clean language to meet user needs.</p>
          <p class="service-standard-point__link"><a href="point-2">Read more about effective content</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-3">
        <h2 class="service-standard-point__title">
          <span class="service-standard-point__number">3.</span>
          Content must be well organised
        </h2>

        <div class="service-standard-point__details">
          <p> Content must be published in the appropriate format and be tagged correctly so it appears where users expect to find it.</p>
          <p class="service-standard-point__link"><a href="point-3">Read more about organising content</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-4">
        <h2 class="service-standard-point__title">
          <span class="service-standard-point__number">4.</span>
          Content must be accessible
        </h2>

        <div class="service-standard-point__details">
          <p>Government content must be for everyone and must meet accessibility requirements. It should be usable wherever and however it might be viewed, for example on small devices and when republished elsewhere.</p>
          <p class="service-standard-point__link"><a href="point-4">Read more about accessible content</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-5">
        <h2 class="service-standard-point__title">
          <span class="service-standard-point__number">5.</span>
          Content must be actively managed
        </h2>

        <div class="service-standard-point__details">
          <p>Cotnent must have an owner responsible for maintaining it throughout its lifecycle. There must be a process for regular content review to ensure content is stil needed and accurate, withdrawn or unpublished as appropriate. The need for a content review will vary according to content type.</p>
          <p class="service-standard-point__link"><a href="point-5">Read more about managing content</a></p>
        </div>
      </div>


      </div>
  </div>

  <div class="column-third">
    <aside class="related">
      <div class="related-item">
        <h2 class="related-item__title" id="related-subscriptions">
          Get notifications
        </h2>
        <p class="related-item__description">When any points in the Digital Service Standard are updated
          <a class="related-item__email-link" href="/service-manual/service-standard/email-signup">email</a>
        </p>
      </div>

    </aside>
  </div>
</div>

    </main>

    <div class="full-page-width-wrapper">
  <div class="improve-this-page" data-module="improve-this-page">
    <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
      <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
      <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
        Yes <span class="visually-hidden"> this page is useful</span>
</a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
        No <span class="visually-hidden"> this page is not useful</span>
</a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>
    <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit">
      <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="true">Close</a>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="js-errors"></div>
          <form>
            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/service-standard">
            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36">
            <div class="form-group">
              <label class="form-label-bold" for="description-field">
                How should we improve this page?
              </label>
              <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
            </div>
            <div class="form-group">
              <label class="form-label" for="name-field">
                Name (optional)
                <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
              </label>
              <input id="name-field" class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
              <label class="form-label" for="email-field">Email (optional)</label>
              <input id="email-field" class="form-control" type="text" name="email">
            </div>
            <div>
              <input class="button" type="submit" value="Send message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-8ce68e3444dc0b0f939c9ecaa1b971c71a3c2dcd4ac06a36e150000eeaede4bd.js" crossorigin="anonymous" integrity="sha256-jOaONETcCw+TnJ7Koblxxxo8Lc1KwGo24VAADurt5L0="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-4d1380c2d0d6590581e0a749804c9cbcccf34af17b84250c8ab745b98d2b446c.js" crossorigin="anonymous" integrity="sha256-TROAwtDWWQWB4KdJgEycvMzzSvF7hCUMirdFuY0rRGw="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-4316f9d34667897560276221c7e712da80ae88cc0e8c91502b559066abf7e1b6.js"></script>
</body>
</html>
