<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Learning about users and their  needs - Service Manual - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7da20ae18cf7127910ec59331f75ffed6f00cff1969dc9366894e01ffa56a2da.css" crossorigin="anonymous" integrity="sha256-faIK4Yz3EnkQ7FkzH3X/7W8Az/GWnck2aJTgH/pWoto=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-91e47d8adde0b3b628a6ed931338a16655c4a79c5bba5cdb7f6389f1f077b63c.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-04243275a77f0c908ff266e33890a959888bad90ec0be5857456866ab86e059b.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-fac25ec78515a5484990fb50fada4cd02304969d4e279ba91562a8ff91d4d8e8.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-17ae04fa41ad116c2d3a329800a3160d98adf170d561703b3836dad57f2b994d.css" crossorigin="anonymous" integrity="sha256-F64E+kGtEWwtOjKYAKMWDZit8XDVYXA7ODba1X8rmU0=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-cc3b595f7210b9c6a035acd8cc165ea4e836eac6e8224b29a800f98a948619ba.css">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/service-manual-frontend/print-00317139669cd7e57195fd12d279d73aba2c815c00decf15d7f2e4c74d30f79f.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="StnWYZFs5BupwwfPnNUmLwuEN04ENm+KLVDz8LALkbIENhVWbzur94s7yKwIGQLQxiUwLVnuciBXTGp4YbJ/mg==">
<meta name="govuk:format" content="service_manual_guide">
<meta name="govuk:schema-name" content="service_manual_guide">
<meta name="govuk:analytics:organisations" content="&lt;OT1056&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:content-has-history" content="true">
<meta name="description" content="Finding out what users need from your service will help you design a service that’s easy to use and valued by the people who need it.">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie6-a6a153e3db771ec9feeeab02b1fbc7c41d428a988a5c5590d81bb8701536d4bc.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie7-7bbcae88308d728e53c9aa38c9649e50c9cd08df4530748861649e442084e7f6.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/screen-ie8-78a26ca363b55c3358e6f12b8f46aa67eee953709918cf15b48a77d1a21b16b0.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="service-manual-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
      <h1 class="header-title">Service Manual</h1>
  
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  <input type="hidden" name="filter_manual" value="/service-manual">
</form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">
      <div class="full-page-width-wrapper">
        <div class="govuk-beta-label">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>
          This is new guidance. Complete our quick 5-question survey to <a target="_blank" rel="noopener noreferrer" href="https://www.surveymonkey.co.uk/r/servicemanualsurvey?c=/service-manual/user-research/start-by-learning-user-needs">help us improve it</a>.


    </span>
  </p>
</div>

      </div>
      



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/service-manual" data-track-options='{"dimension28":"3","dimension29":"Service manual"}' class="" aria-current="false" href="/service-manual">Service manual</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/service-manual/user-research" data-track-options='{"dimension28":"3","dimension29":"User research"}' class="" aria-current="false" href="/service-manual/user-research">User research</a>
    </li>

    <li class="">
        Learning about users and their  needs
    </li>
  </ol>
</div>


<!-- Page title and contact -->
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">User research</p>
      <h1 class="page-header__title">
        Learning about users and their  needs
      </h1>
    </div>
  </div>

  <div class="column-third">

    <div class="community-contact">
      <p>
        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
      </p>
    </div>
  </div>
</div>

<!-- Metadata-->
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="/service-manual/communities/user-research-community">User research community</a>
            </dd>
        <dt>Last updated:</dt>
        <dd>
          8 months ago
        </dd>
      </dl>
    </div>

  </div>
</div>

<div class="grid-row" data-module="highlight-active-section-heading">
  <div class="column-third">

    <!--  Page contents -->
    <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
      <h2 class="page-contents__title">Page contents:</h2>
      <ul class="page-contents__list">
          <li><a href="#meeting-the-digital-service-standard">Meeting the Digital Service Standard</a></li>
          <li><a href="#understanding-user-needs">Understanding user needs</a></li>
          <li><a href="#researching-users-and-their-needs">Researching users and their needs</a></li>
          <li><a href="#sharing-what-you-know-about-users">Sharing what you know about users</a></li>
          <li><a href="#writing-user-needs">Writing user needs</a></li>
          <li><a href="#validating-user-needs">Validating user needs</a></li>
          <li><a href="#share-your-user-needs">Share your user needs</a></li>
          <li><a href="#linking-user-needs-to-user-stories">Linking user needs to user stories</a></li>
          <li><a href="#related-guides">Related guides</a></li>
      </ul>
    </div>

  </div>
  <div class="column-two-thirds">

    <div class="govspeak-wrapper">
      
<div class="govuk-govspeak ">
  <p>When designing a government service, always start by learning about the people who will use it. If you don’t understand who they are or what they need from your service, you can’t build the right thing.</p>

<h2 id="meeting-the-digital-service-standard">Meeting the Digital Service Standard</h2>

<p>To pass <a href="/service-manual/digital-by-default#criterion-1">point 1 (understand user needs)</a> in your <a href="/service-manual/service-assessments/check-if-you-need-a-service-assessment">service assessments</a>, you must:</p>

<ul>
  <li>show that you have a deep knowledge of who your users are</li>
  <li>explain how you’ve designed the service to reflect your users’ needs</li>
  <li>be able to provide evidence to support your understanding of users and their needs</li>
</ul>

<h2 id="understanding-user-needs">Understanding user needs</h2>

<p>People and businesses use government services to help them get something done (for example, register to vote, check if a vehicle is taxed or pay a VAT bill).</p>

<p>‘User needs’ are the needs that a user has of a service, and which that service must satisfy for the user to get the right outcome for them.</p>

<p>Services designed around users and their needs:</p>

<ul>
  <li>are more likely to be used</li>
  <li>help more people get the right outcome for them - and so achieve their policy intent</li>
  <li>cost less to operate by reducing time and money spent on resolving problems</li>
</ul>

<h2 id="researching-users-and-their-needs">Researching users and their needs</h2>

<p>You must keep researching throughout each development phase to make sure your service continues to meet user needs.</p>

<h3 id="when-to-research">When to research</h3>

<p>In the <a href="/service-manual/user-research/user-research-in-discovery">discovery phase</a>, you should find out:</p>

<ul>
  <li>who your likely users are and what they’re trying to do</li>
  <li>how they currently do it (for example, what services or channels they use)</li>
  <li>the problems or frustrations they experience</li>
  <li>what users need from your service to achieve their goal</li>
</ul>

<p>In the <a href="/service-manual/user-research#user-research-in-the-different-design-phases">alpha, beta and live phases</a>, you should:</p>

<ul>
  <li>improve your understanding of your users and their needs</li>
  <li>test design ideas and new features with likely users</li>
  <li>assess users’ experience of your service, to make sure it meets their needs</li>
</ul>

<h3 id="how-to-research">How to research</h3>

<p>You can learn about users and their needs by:</p>

<ul>
  <li>reviewing existing evidence (for example, analytics, search logs, call centre data, previous research reports etc)</li>
  <li>interviewing and observing actual or likely users</li>
  <li>talking to people inside and outside your organisation who work with actual or likely users</li>
</ul>

<p>Treat any opinions or suggestions that don’t come from users as assumptions that have to be proven by doing research.</p>

<h3 id="who-to-research-with">Who to research with</h3>

<p>You must understand the needs of all kinds of users, not just ‘typical’ users. You also have to consider the needs of people who provide the service or support other users (for example, caseworkers, call centre agents, inspectors, lawyers and charity workers).</p>

<p>When researching, focus on users who have problems using existing services or getting the right outcome for them. This will help you create a simpler, clearer, faster service that more people can use.</p>

<h2 id="sharing-what-you-know-about-users">Sharing what you know about users</h2>

<p>Once you’ve learned about the different kinds of users of your service, you should present what you know in a way that’s easy for others to understand and share.</p>

<p>You can present what you know by creating:</p>

<ul>
  <li>
<a href="/service-manual/user-research/creating-an-experience-map">experience maps</a> that show how users interact with existing services</li>
  <li>user profiles or personas that describe groups of users with similar behaviour and needs</li>
</ul>

<h2 id="writing-user-needs">Writing user needs</h2>

<p>Once you have a good understanding of your users’ needs, you should write them down and add them to your descriptions of users.</p>

<p>User needs are usually written in the format:</p>

<p>I need/want/expect to… [what does the user want to do?]</p>

<p>So that… [why does the user want to do this?]</p>

<p>If it’s helpful, you can add:</p>

<p>As a… [which type of user has this need?]</p>

<p>When… [what triggers the user’s need?]</p>

<p>Because… [is the user constrained by any circumstances?]</p>

<div class="call-to-action">
<p><strong>Example:</strong></p>

<p>As a [British person]</p>

<p>I need [a passport]</p>

<p>So that [I can travel abroad and prove my identity]</p>
</div>

<p>Write user needs from a personal perspective using words that users would recognise and use themselves.</p>

<p>Focus on what’s most important for your users so you don’t create an unmanageable list of user needs.</p>

<h2 id="validating-user-needs">Validating user needs</h2>

<p>Good user needs should:</p>

<ul>
  <li>sound like something a real user might say</li>
  <li>be based on evidence from user research, not assumptions</li>
  <li>focus on the user’s problem rather than possible solutions (for example, needing a reminder rather than needing an email or letter)</li>
</ul>

<p>As you progress through the development phases, use what you learn to continually validate and refine your user needs.</p>

<h2 id="share-your-user-needs">Share your user needs</h2>

<p>You should share your users’ needs with anyone who’s interested in your service, including colleagues, stakeholders, users and the public.</p>

<p>When presenting them, it can be helpful to group them by:</p>

<ul>
  <li>audience, user type or persona (for example, new parent, caseworker, small business etc)</li>
  <li>stage in a process (for example, register, apply, interview etc)</li>
  <li>theme (for example, identity, payments, licensing etc)</li>
</ul>

<p>The more you share, the more people will learn about your users and what they need from your service. They’ll also ask questions, spot gaps and comment on what you’re doing - all of which will help you design a better service.</p>

<h2 id="linking-user-needs-to-user-stories">Linking user needs to user stories</h2>

<p>User needs tend to be high-level, broad in scope and stable over time.</p>

<p>As you design your service, you’ll use them to write <a href="/service-manual/agile-delivery/writing-user-stories">user stories</a>. These describe the specific features and content you need to create for your service to meet your users’ needs.</p>

<p>User stories are normally written in a more constrained format than user needs and include additional information like acceptance criteria, level of complexity and dependencies. Teams use them to organise work into manageable chunks that create tangible value.</p>

<p>When writing a user story, you should keep track of the user needs it relates to. This traceability allows you to track related activities and determine how well you’re meeting a particular user need.</p>

<h2 id="related-guides">Related guides</h2>

<p>You may find the following guides useful:</p>

<ul>
  <li><a href="/service-manual/user-research/plan-user-research-for-your-service">Plan user research for your service</a></li>
  <li><a href="/service-manual/user-research/how-user-research-improves-service-design">How user research improves service design</a></li>
</ul>

</div>

    </div>

    <div class="change-history" data-module="toggle">
      <div class="change-history__latest-change">
        <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="/service-manual/communities/user-research-community">User research community</a>
            </dd>
          <dt>Last update:</dt>
          <dd>
            <time datetime="2017-03-23T17:03:26+00:00" class="timestamp">23 March 2017</time>
<p class="change-history__summary">
  Guidance expanded and clarified in response to community feedback. 
</p>

          </dd>
        </dl>
      </div>
      <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
      <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
        <li>
          <time datetime="2016-04-04T15:05:43+00:00" class="timestamp"> 4 April 2016</time>
<p class="change-history__summary">
  Guidance first published
</p>

        </li>
      </ol>
    </div>

  </div>
</div>

    </main>

    <div class="full-page-width-wrapper">
  <div class="improve-this-page" data-module="improve-this-page">
    <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
      <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
      <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
        Yes <span class="visually-hidden"> this page is useful</span>
</a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
        No <span class="visually-hidden"> this page is not useful</span>
</a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>
    <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit">
      <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="true">Close</a>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="js-errors"></div>
          <form>
            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs">
            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36">
            <div class="form-group">
              <label class="form-label-bold" for="description-field">
                How should we improve this page?
              </label>
              <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
            </div>
            <div class="form-group">
              <label class="form-label" for="name-field">
                Name (optional)
                <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
              </label>
              <input id="name-field" class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
              <label class="form-label" for="email-field">Email (optional)</label>
              <input id="email-field" class="form-control" type="text" name="email">
            </div>
            <div>
              <input class="button" type="submit" value="Send message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-8ebb2100d4f59fb7e4eedb9c61672156ca92be731dc4a1ea6e9a7a218904e534.js" crossorigin="anonymous" integrity="sha256-jrshANT1n7fk7tucYWchVsqSvnMdxKHqbpp6IYkE5TQ="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-8bfddec9d8aa8530dbad519c47440577d01ae78b506a9f2025a01f4f9ee807c4.js" crossorigin="anonymous" integrity="sha256-i/3eydiqhTDbrVGcR0QFd9Aa54tQap8gJaAfT57oB8Q="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-4316f9d34667897560276221c7e712da80ae88cc0e8c91502b559066abf7e1b6.js"></script>
</body>
</html>
